<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<body>
<h1>Weather</h1>
    <h2><%=dat.city_name%>, <%=dat.country_code%></h2>
    <p>AQI = <%=dat.data[0].aqi%></p>
    <p>PM10 = <%=dat.data[0].pm10%></p>
    <p>PM25 = <%=dat.data[0].pm25%></p>
    
</body>